player-connection-mode=Listen
player-connection-guid=790540148
player-connection-debug=1
player-connection-project-name=Ben Timewell - GOAP Game
player-connection-ip=192.168.2.220
player-connection-ip=172.22.64.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1a3d9bcd168744fb9f14b9d21abb7cc2
